/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./style/fonts.scss ***!
  \********************************************************************/
@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"), 
        url(4df14eb5e72bf55c4497.ttf) format(TrueType);
}

@font-face {
    font-family: "open sans";
    src: 
        local("open sans"),
        url(52dfa12fd5d4293eb596.ttf) format(TrueType);
}
/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./style/style.scss ***!
  \***********************************************************************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #5C6A79;
  font-family: Montserrat;
}

.grid {
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(10px, 200px) 1fr minmax(10px, 200px);
  margin-bottom: 15px;
  width: 100%;
  overflow: hidden;
}

.container {
  grid-column: 2;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 54px 0;
  background-color: #fff;
}
.header .grid {
  margin-bottom: 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  margin: auto;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
}
.header__nav-link a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.header__nav-link a:hover {
  text-decoration: underline;
}
.header__nav-link a.active {
  font-weight: 900;
  color: #1C2A39;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

main {
  margin-top: 131px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slider__hero-img {
  width: 100%;
  position: relative;
  max-height: 700px;
}
.slider img {
  width: 100%;
}
.slider__nav {
  max-width: 40%;
  margin-top: 17px;
}
.slider__dots {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}
.slider__dot {
  border-radius: 100%;
  background-color: #efeef6;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.slider__dot.active {
  background-color: #9e98dc;
}
.slider__aside-link {
  padding: 102px 20px 36px;
  position: absolute;
  max-width: 155px;
}
.slider__aside-link a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  color: #1C2A39;
  max-width: 100px;
}
.slider__aside-link a::after {
  content: url(e9f51e4343fc7f9ad49a.svg);
  position: absolute;
  left: 0;
  bottom: -24px;
}
.slider__aside-link_purple {
  background-color: #9e98dc;
  top: 79px;
  right: -7%;
}
.slider__aside-link_pink {
  background-color: #ff8fe6;
  bottom: 70px;
  right: -17%;
  padding: 149px 47px 36px 21px;
}
/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./style/fonts.scss ***!
  \***********************************************************************************************************/
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(4df14eb5e72bf55c4497.ttf) format(TrueType);
}
@font-face {
  font-family: "open sans";
  src: local("open sans"), url(52dfa12fd5d4293eb596.ttf) format(TrueType);
}
